:root {
	--red: #C70039;
	--orange: #FF5733;
	--yellow: #F9E79F;
	--darkyellow: #F4D03F;
	--green: #a5d6a7;
	--lightgreen: #D5F5E3;
	--blue: #D0ECE7;
	--darkblue: #2980B9;
	--brown: #795548;
	--mygray: #839192;
	--maroon: #900C3F;
	font-family: 'Roboto', sans-serif;
	box-sizing: border-box;
}

.myhero {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.hero-left, .hero-right {
	border: solid black 1px;
}

.hero-left {
	font-size: 4rem;
	text-align: right;
	text-transform: uppercase;
}

.banner {
	background-color: var(--yellow);
	font-family: 'Fredericka the Great', 'cursive';
	font-size: 2rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
	text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.name {
	
}

.slogan {
	font-family: 'Comfortaa', cursive;
	font-size: 0.8rem;
	text-transform: uppercase;
}

.main-grid {
	display: grid;
	grid-template:
		"banner banner banner banner"
		"left-gutter contact cv right-gutter"
		/10vw 1fr 3fr 10vw;
	width: 100%;
}

.contact {
	grid-area: contact;
	background-color: var(--darkblue);
}

.navbar {
	display: grid;
	margin: 1rem;
	position : fixed;
}

.item {
	color: white;
	font-family: 'Comfortaa', cursive;
	font-weight: bold;
	padding: 1rem;
	text-transform: uppercase;
}

.cv {
	grid-area: cv;
}

.cv-grid {
	display: grid;
	grid-template-columns: 2fr 5fr;
	background-color: white;
	border-radius: 2px;
	color: var(--mygray);
	font-family: 'Roboto', sans-serif;
	margin: 1rem;
	margin-bottom: 0;
	padding: 1rem;
	padding-right: 0;
}

.cv-grid .titletext {
	grid-column: 1 / span 2;
	font-family: 'Roboto Slab', serif;
	font-size: 1.5rem;
	font-weight: bold;
	padding: 0;
}

.company {
	grid-column: 1 / 1;
}

.special {
	color: var(--darkblue);
	font-weight: bold;
	text-transform: uppercase;
}

.cv-grid .job {
	grid-column: 2 / 2;
	font-family: 'Roboto Condensed', sans-serif;
	border-bottom: solid var(--darkblue) 2px;
	padding-bottom: 0.5rem;
}

.job-desc {
	color: var(--mygray);
	font-family: 'Karla', sans-serif;
	font-weight: normal;	
	text-align: justify;
	padding-top: 0.5rem;
}

.company, .job {
	color: black;
	padding-top: 0.5rem;
	padding-right: 1rem;
}

.mobile-only {
	display: none;
}

/* Set root font size for mobile. */
@media screen and (max-width: 599px) {
	:root {
		font-size: 12px;
	}
	
	.mobile-only {
		display: unset;
	}
	
	.main-grid {
		display: grid;
		grid-template:
			"contact cv"
			/0px 1fr;
	}

	.banner {
		background-color: var(--green);
		font-size: 1.8rem;
		padding: 0;
		text-align: center;
	    position: fixed;
	    top: 0;
	    width: 100%;
	    z-index: 1;
	}
	
	.name {
		font-family: 'Roboto Slab', serif;
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
	}

	.topnav {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-auto-flow: column;
	}
	
	.topnav > .item {
		color: white;
		font-family: 'Roboto Condensed', sans-serif;
		font-size: 1rem;
		text-align: center;
		padding: 0.5rem;
	}
	
	.not-mobile {
		display: none;
	}
}

/* Set root font size for desktop */
@media screen and (min-width: 960px) {
	:root {
		font-size: 20px;
	}
}

html, body {
	background-color: var(--blue);
	font-family: 'Roboto', sans-serif;
	line-height: 1;
	margin: 0;
	padding: 0;
	overflow: scroll;
}

a:link, a:visited, a:hover, a:active {
	color: inherit;
	text-decoration: none;
}

.offset {
	align-self: end;
	height: 4.7rem;
	visibility: hidden;
}

.shadow {
  box-shadow: 0 2px 4px rgba(0,0,0,0.12), 0 2px 4px rgba(0,0,0,0.24);
}