:root {
	--red: #c62828;
	--orange: #ff9800;
	--yellow: #f8e8a6;
	--green: #cddc39;
	--blue: #b4dfe5; /* powderblue */
	--brown: #4e342e;
}

html, body {
	background-color: var(--blue);
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	line-height: 1;
	text-align: center;
	z-index: 0;
	font-size: 1vw;
}

h1, h2, h3, h4, h5, h6, p {
	line-height: 1;
}

/* Set root font size for mobile. */
@media screen and (max-width: 768px) {
	html, body {
		font-size: 10px;
	}
	
	.slogan {
		display: none;
	}
}

.banner {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;
	background-color: var(--yellow);
	padding: 20px;
	position: sticky;
	top: 0;
	z-index: 1;
}

.company {
	flex: 1 1 25%;
}

.experience {
	font-family: 'Special Elite', serif;
	font-size: 3rem;
	margin-top: 20px;
}

.gray {
	background-color: #757575;
	color: white;
	display: block;
}

.gray > h3 {
	color: black;
	font-family: 'Special Elite', serif;
	text-transform: uppercase;
	text-align: center;
}

.gray > h4 {
	color: var(--blue);
	font-weight: bold;
	margin-top: 1vw;
	text-transform: uppercase;
	line-height: 1;
}

.icony {
	display: block;
	text-align: center;
	color: #444444;
	font-size: 3rem;
	line-height: 1.5;
}

.item {
	border-radius: 4px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.25);
	padding: 20px;
	margin: 10px;
	text-align: left;
	font-family: 'Karla', sans-serif;
	font-size: 1.5rem;
}

.left-column {
	display: flex;
	flex-flow: column nowrap;
	align-content: stretch;
}

.name {
	flex: 1 1 100%;
	font-family:'Fredericka the Great', cursive;
	font-size: 3rem;
	text-transform: none;
}

.resume {
	display: inline-flex;
	margin: 10px;
	align-content: stretch;
}

.role {
	flex: 1 1 75%;
}

.right-column {
	display: inline-flex;
	align-content: stretch;
	flex-flow: column nowrap;
}

.shadow {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.25);
}

.slogan {
	font-family: 'Comfortaa', cursive;
	font-size: 1.2rem;
	text-transform: uppercase;
}

.white {
	display: flex;
	background-color: white;
	padding-top: 0;
}

.white h4, .white h5 {
	font-family: 'Roboto Slab', serif;
	font-weight: bold;
}

.white h4 {
	margin-top: 20px;
}

.white h5 {
	color: #757575;
	margin-bottom: 10px;
}

.white p {
	font-family: 'Karla', sans-serif;
	text-align: justify;
}