:root {
	--red: #c62828;
	--orange: #ff9800;
	--yellow: #f8e8a6;
	--green: #cddc39;
	--blue: #b4dfe5; /* powderblue */
	--brown: #4e342e;
	background-color: var(--blue);
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	text-align: center;
	z-index: 0;
}

h1, h2, h3, h4, h5, h6, p {
	line-height: normal;
}

br {
	content: " ";
	display: block;
	margin: 1vw;
}

.flex-wrapper {
	display: flex;
	background-color: red;
	align-items: stretch;
}

.left {
	width: 25%;
	float: left;
}

.mid {
	flex: 1 1 25%;
	background-color: yellow;
	order: 2;
}

.right {
	width: 75%;
	float: left;
}

.left-wrapper {
	display: flex;
}

.right-wrapper {
	display: flex;
}

.left > div, .mid > div, .right > div {
	background-color: white;
	border-color: black;
	border-style: solid;
}

.grid {
	display: grid;
}